.BlinkCursor(){

	@-webkit-keyframes blinkCursor{
		from {
			opacity: 0.1;
		}
		50% {
			opacity: 0.9;
		}
		to {
			opacity: 0.1;
		}
	}

	animation: blinkCursor 1s infinite;
	-webkit-animation: blinkCursor 1s infinite;

}

body {
	background: black;
	font-family: 'Bungee', sans-serif;		
}

h1 {
	width: 100%;
	line-height: 100px;
	font-size: 80px;
	letter-spacing: 10px;
	word-spacing: 15px;
	color: red;
	word-wrap: break-word;
}

span.cursor {
	color: white;
	.BlinkCursor();
}

@ScreenBlue: #009FB7;

textarea {

	display: block;
	outline: 2px solid @ScreenBlue;
	width: 80vw;
	max-width: 80vw;
	height: 80vh;
	max-height: 80vh;
	padding: 20px;
	margin: 5vh auto 0;
	line-height: 50px;
	font-size: 40px;
	letter-spacing: 2px;
	word-spacing: 5px;
	text-transform: uppercase;
	color: white;
	background: rgba(
		red(@ScreenBlue),
		green(@ScreenBlue),
		blue(@ScreenBlue), 0.50);

	&:focus {
		background: rgba(
			red(@ScreenBlue),
			green(@ScreenBlue),
			blue(@ScreenBlue), 0.25);
	}

}